body{

font-family:Arial;
background:#0f172a;
color:white;
margin:0;

}

.title{

text-align:center;
margin-top:20px;

}

.container{

display:flex;
justify-content:center;
gap:50px;
padding:40px;

}

.form{

display:flex;
flex-direction:column;
width:300px;
gap:10px;

}

input,textarea{

padding:10px;
border:none;
border-radius:6px;

}

button{

padding:12px;
background:#38bdf8;
border:none;
cursor:pointer;
border-radius:6px;
font-weight:bold;

}

.preview{

background:white;
color:black;
padding:30px;
width:400px;
border-radius:10px;

}

.preview h2{

margin-bottom:5px;

}

.preview h3{

margin-top:0;

}
